* {
    margin: auto;
    text-align: center;

}

#username {
    margin-top: 16px;
}

#proflie img {
    border-radius: 360px ;
    width: 183px;
    height: 183px;
}

input {
    border: 0px;
    background-color: whitesmoke;
    padding: 4px;
    border-radius: 16px;
}

button {
    border: 0px;
    background-color: rgb(25, 64, 148);
    color : white;
    padding: 4px;
    border-radius: 4px;
}

.grid1 {
    width: 25%;
    display: grid;
    grid-template-columns: auto auto auto;
    margin-top: 16px;
}

.grid2 {
    width: 60%;
    display: grid;
    grid-template-columns: 40% 40% 10% 10%;
    margin-top: 16px;
}

#phonenum {
    font-size: large;
    font-weight: bold;
    margin-top: 16px;
}

.grid2 input {
    padding: 6px 40%;
}

table {
    width: 80%;
    margin-top: 16px;

}

.firstrow {
    background-color:gainsboro;
    font-weight: bold;
}

.firstrow th {
    border-bottom: 1px solid black;
}
table td {
    border-bottom: 1px solid rgb(235, 235, 235);
}

button {
    cursor:pointer;
    z-index: 55555;
}